.background {
    -fx-background-color: #1d1d1d;
}



/* 
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */


.border {
    -fx-border-color: black;
}

.list-cell {
    -fx-padding: 0px;
}